<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
     <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>Ask</title>
</head>
<body>
  {% include "addons/header.html" %}
  <div class="container">
   <div class="row">
    <div class="span8">
      {% block content %}
      {% endblock %}
    </div>
    <div class="span4">
      {% include "addons/tags.html" %}
      {% include "addons/users.html" %}
    </div>
   </div>
  </div>

<script>


<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</div>
</body>
</html>