{% extends "base.html" %}
{% block content %}

<form action="/login/" method="post" class="form-horizontal well">
        <fieldset>
            <legend>Log in or <a href="signup?logout=true">sign up</a></legend>
            {% if name_error == 'true' %}
                <div class="control-group error">
                    <input type="text" name="name" placeholder="user name" class="input">
                    <span class="help-inline"> You do not Heisenberg </span>
                </div>
            {% else %}
            <div class="control-group">
                <input type="text" name="name" placeholder="user name" class="input">
            </div>
            {% endif %}
            {% if password_error == 'true' %}
                <div class="control-group error">
                    <input type="password" name="password" placeholder="password" class="input">
                    <span class="help-inline"> You password is 1234</span>
                </div>
            {% else %}
                <div class="control-group">
                    <input type="password" name="password" placeholder="password" class="input">
                </div>
            {% endif %}
            <div class="control-group">
                <input type="submit" value="Submit" class="btn btn-primary">
            </div>
        </fieldset>
</form>
{% endblock %}