{% extends "base.html" %}
{% block content %}
<div class="well">
<div class="media">

    <form action="/signup/" method="post" class="form-horizontal well">
        <fieldset>
            <legend>Signup form</legend>
            {% if login_error == 'true' %}
                <div class="control-group error">
                    <input type="text" name="login" placeholder="login" class="input">
                    <span class="help-inline"> Login already exists</span>
                </div>
            {% else %}
            <div class="control-group">
                <input type="text" name="login" placeholder="login" class="input">
            </div>
            {% endif %}

            {% if name_error == 'true' %}
                <div class="control-group error">
                    <input type="text" name="name" placeholder="user name" class="input">
                    <span class="help-inline"> Wrong name </span>
                </div>
            {% else %}
            <div class="control-group">
                <input type="text" name="name" placeholder="user name" class="input">
            </div>
            {% endif %}

            {% if email_error == 'true' %}
                <div class="control-group error">
                    <input type="text" name="email" placeholder="email" class="input">
                    <span class="help-inline"> wrong email </span>
                </div>
            {% else %}
            <div class="control-group">
                <input type="text" name="email" placeholder="email" class="input">
            </div>
            {% endif %}
            {% if password_error == 'true' %}
                <div class="control-group error">
                    <input type="password" name="password" placeholder="password" class="input">
                    <span class="help-inline"> You password is 1234</span>
                </div>
            {% else %}
                <div class="control-group">
                    <input type="password" name="password" placeholder="password" class="input">
                </div>
            {% endif %}
            <h5 style="padding-left: 2px"> Photo</h5>
            {% if photo_error == 'true' %}
                <div class="control-group error">
                    <input type="file" name="photo" class="input-file">
                    <span class="help-inline"> wrong photo </span>
                </div>
            {% else %}
            <div class="control-group">
                <input type="file" name="file" class="input-file">
            </div>
            {% endif %}
            <div class="control-group">
                <input type="submit" value="Submit" class="btn btn-primary">
            </div>
        </fieldset>
    </form>
</div>
</div>
{% endblock %}