 <div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
          <a class="brand" href="/">ASK-Chiganov</a>
          <form class="navbar-search pull-left">
           <input type="text" class="search-query" placeholder="Search">
          </form>

          <div class="row pull-left">
            <div class="span2">
              
            </div>
            <div class="span1">
              <button class="btn">ASK</button>
            </div>

            {% if logout %}
               <div class="span">
               <img class="media-object" src="/uploads/cat.jpg" style="max-width: 80px; height: 51px;">
               </div>
               <div class="span">
                <h5 class="media-heading" style="color: #ffffff"> Please <a href="/login?logout=true">login</a></h5>
                <span style="color: #ffffff"> or </span> <a href="/signup?logout=true">sign up</a>
               </div>

               {% else %}
               <div class="span">
               <img class="media-object" src="/uploads/cat.jpg" style="max-width: 80px; height: 51px;">
               </div>
               <div class="span">
               <h5 class="media-heading" style="color: #ffffff">UserName</h5>
                        <a href="/">settings</a> <a href="/login?logout=true">logout</a>
               </div>
  
              {% endif %}
          </div>
        </div>
     </div>
   </div>
 </div>