<div class="well">
<div class="media">
  <div class="pull-left">
    <img class="media-object" data-src="holder.js/64x64" src="uploads/cat.jpg" style="max-width: 128px; max-height: 128px">
  </div>

  <div class="media-body">
    <a>
        <h4 class="media-heading">How to do this?</h4>
    </a>
        Help me make is
  </div>

</div>

<li class="media" style="list-style-type: none;">
{% with rnd="123456789"|make_list|random %}
  <a class="badge badge-success" >({{ rnd }}) like</a>
    <div class="pull-right">
      <a href="/" >answers ({{ rnd }})</a> tags:
      {% for a in "123" %}
        <a href="/">{{ tags|random }}</a>
      {% endfor %}
    </div>
{% endwith %}
</li>
</div>


